<%= form_with model: preferences_form, data: { controller: "sliders" } do |f| %>

  <div>
    <%= f.label :budget, "Budget" %><br>
    <input
      type="range"
      min="0"
      max="100"
      step="1"
      name="preferences_form[budget]"
      data-sliders-target="input"
      value="<%= preferences_form.budget || 50 %>"
    >
    <span data-sliders-target="value"><%= preferences_form.budget || 50 %></span>/100
  </div>

  <hr>

  <h3>Centres d’intérêt</h3>

  <%= f.label :culture %>
  <%= f.range_field :culture, min: 0, max: 100 %><br>

  <%= f.label :food %>
  <%= f.range_field :food, min: 0, max: 100 %><br>

  <%= f.label :shopping %>
  <%= f.range_field :shopping, min: 0, max: 100 %><br>

  <%= f.label :nightlife %>
  <%= f.range_field :nightlife, min: 0, max: 100 %><br>

  <%= f.label :nature %>
  <%= f.range_field :nature, min: 0, max: 100 %><br>

  <%= f.label :sport %>
  <%= f.range_field :sport, min: 0, max: 100 %><br>

  <br>

  <%= f.submit %>

<% end %>
