<div class="step-container">
  <h2 class="step-title">What are your major interests during this trip?</h2>

  <%# Gestion du formulaire pour step1 :
      - Si le preferences_form n'existe pas encore en DB (persisted? = false) → POST vers create
      - Si le preferences_form existe déjà (persisted? = true) → PATCH vers update avec step=1
      Cela permet de gérer la première création et les modifications ultérieures %>
  <% trip = preferences_form.user_trip_status&.trip || @trip %>
  <%= form_with scope: :preferences_form,
              url: preferences_form.persisted? ? trip_preferences_form_path(trip, preferences_form, step: 1) : trip_preferences_forms_path(trip),
              method: preferences_form.persisted? ? :patch : :post,
              data: { turbo_frame: "form_wrapper" },
              class: "step-form" do |f| %>

    <% sliders = {
      culture: "Culture",
      food: "Food",
      nightlife: "Nightlife",
      nature: "Nature",
      shopping: "Shopping",
      sport: "Sport"
    } %>

    <% sliders.each do |field, label| %>
      <div class="slider-row">
        <label><%= label %></label>

        <input type="range"
                class="styled-slider"
                name="preferences_form[<%= field %>]"
                min="0"
                max="100"
                value="<%= preferences_form.send(field) || 50 %>">

      </div>
    <% end %>

    <div class="button-row">
      <%= f.submit "Next →", class: "next-button" %>
    </div>

  <% end %>
</div>
