<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Yugo - Plan your perfect group trip" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%# Mapbox GL JS %>
    <script src='https://api.mapbox.com/mapbox-gl-js/v3.3.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v3.3.0/mapbox-gl.css' rel='stylesheet' />
  </head>

  <body>
    <header>
      <%= render "shared/navbar" %>
      <%= render "shared/flashes" %>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
